$ghostWhite: #FFFAFF;
$rifleGreen: #4A5043;
$royalBlue: #0A2463;
$terraCotta: #E26D5A;
$tuftsBlue: #3E92CC;

:export {
  ghostWhite: $ghostWhite;
  rifleGreen: $rifleGreen;
  royalBlue: $royalBlue;
  terraCotta: $terraCotta;
  tuftsBlue: $tuftsBlue;
}